<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myService" class="com.tdl.spring.aop.service.impl.MyServiceImpl">
    </bean>

    <bean id="myAdvisor" class="com.tdl.spring.aop.advisor.MyAdvisor">
    </bean>

    <bean id="myAop" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>com.tdl.spring.aop.service.MyService</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>myAdvisor</value>
            </list>
        </property>
        <property name="target">
            <ref bean="myService"></ref>
        </property>
    </bean>

</beans>